.config {
    min-height: 40vh;

    background-color: #333;
    color: #d9d9d9;
}

.config__status {
    display: flex;
    align-items: center;
    gap: 1em;

    min-height: 4rem;
    padding: 0 1em;

    font-size: 1.2rem;

    background-color: #222;

    &__title {
        background-color: rgba(white, 0.05);
        padding: 0.5em 1.5em;
    }
}

.config__var {
    display: flex;
}

.config__var-input {
    max-width: 4em;

    font: inherit;
    color: inherit;

    background-color: rgba(255, 255, 255, 0.02);
    border: 0;

    &:focus {
        outline: 1px solid;
    }
}
