.simul {
    display: flex;

    height: calc(100vh - 4rem);
}

.simul__graphic-wrapper {
    flex: 1;
}

.simul__graphic {
    // because otherwise, the canvas does not take the full height
    // but instead leaves a small bottom margin
    min-height: 100%;
}

.simul__info {
    width: 20rem;

    background-color: #d9d9d9;
    border-left: 3px solid #999;
    box-shadow: -5px 0 0.3em rgba(black, 0.2);

    overflow: scroll;
}

.simul__stop-message {
    background-color: #222;
    color :white;
    padding: 1em;
}

.simul__positions {
    padding: 0;
    margin: 0;
    list-style: none;

    font-family: Consolas, monospace;

    border-bottom: 1px solid black;
}

.simul__position {
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-around;
    gap: 1em;

    border-top: 1px solid black;
}

.simul__position:nth-child(2n) {
    background-color: rgba(black, 0.2);
}

.simul__position:last-child {
    font-weight: bold;
}
